*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

//navbar css

header{
    background-color: black;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navbar{
    background-color: black!important;
    .navbar-brand{
        color: white;
        font-weight: bolder;
    }
    .nav-item{
        a{
            color: white!important;
        }
    }
}

.navbar-toggler-icon{
    padding: 20px;
}


//welcome css

#welcome{
    background-color: #00798a;
}

.welcome-text{
    .welcome-wrapper{
        padding: 150px 0px;
        padding-bottom: 200px;
        h1{
            font-size: 80px;
            text-align: center;
            margin-bottom: 25px;
            color: white;
        }
        h3{
            text-align: center;
            margin-bottom: 25px;
            font-size: 30px;
            color: white;
        }
        p{
            text-align: center;
            font-size: 20px;
            margin-bottom: 25px;
            color: white;
        }
        a{
            background-color: #fc4065;
            text-align: center;
            text-decoration: none;
            color: white;
            padding: 9px 35px;
            letter-spacing: 1px;
            font-size: 16px;
            &:hover{
                background-color: #a03624;
            }
        }
    }
}

//our services css

#our-services{
    background-color: #ebebeb;
}

.ou-header{
    padding: 100px 0px;
    .os-title{
        font-size: 40px;
        color: #007993;
        margin-bottom: 40px;
    }
    .ou-desc{
        .ou-desc-title{
            font-size: 25px;
        }
        .ou-desc-sum{
            color: #443c33;
        }
    }
}

.ou-cards{
    padding-bottom: 100px;
}

.ou-card-item{
    padding: 20px 0px;
    .ou-card-item-wrapper{
        padding: 20px 70px;
        background-color: #00798a;
        margin: 0px 15px;
        .ou-card-icon{
            font-size: 70px;
            text-align: center;
            margin-bottom: 30px;
            color: white;
        }
        .ou-card-title{
            text-align: center;
            font-size: 25px;
            margin-bottom: 30px;
            color: white;
        }
        .ou-card-desc{
            text-align: center;
            color: white;
            margin-bottom: 30px;
        }
    }
}

.ou-summary{
    .ou-summary-title{
        font-size: 30px;
        color: #443c33;
    }
    .ou-summary-desc{
        color: #443c33;
        padding-bottom: 50px;
        margin: 0;
    }
}

//feat css

#featured{
    background-color: #00798a;
}

.feat-ws{
    padding: 20px 0px;
    color: white;
    text-align: center;
    .feat-title{
        font-size: 60px;
    }
    .feat-desc{
        font-size: 25px;
    }
}

//our plans css

#our-plans{
    background-color: #ebebeb;
}

.op-header{
    padding: 100px 0px;
    .op-title{
        font-size: 40px;
        color: #007993;
        margin-bottom: 40px;
    }
    .op-desc{
        .op-desc-header{
            font-size: 25px;
        }
        .op-desc-sum{
            color: #443c33;
        }
    }
}

.op-cards{
    padding-bottom: 100px;
}

.op-card-item{
    text-align: center;
    padding: 20px 0px;
    .op-card-wrapper{
        margin: 0px 15px;
    }
    .op-card-title{
        p{
            background-color: black;
            color: white;
            padding: 10px 0px;
            margin: 0;
        }
    }
    .op-card-content{
        background-color: #d8d8d8;
        p{
            padding: 20px 0px;
            margin: 0;
            color: #858585;
            font-size: 20px;
        }
        .op-price{
            background-color: #1f8a63;
            color: white;
            font-size: 30px;
        }
        .op-read-more{
            background-color: #d9534f;
            padding: 10px 0px;
            a{
                text-decoration: none;
                color: white;
                display: block;
            }
            &:hover{
                background-color: #b64441;
            }
            cursor: pointer;
        }
    }
}

//stats css 

#stats{
    background-color: #00798a;
}

.stats-ws{
    padding: 20px 0px;
    color: white;
    text-align: center;
    .stats-title{
        font-size: 60px;
    }
    .stats-desc{
        font-size: 25px;
    }
}

//contact-us css

#contact-us{
    background-color: #ebebeb;
}

.cu-header{
    padding: 100px 0px;
    .cu-header-title{
        font-size: 30px;
        color: #1f8a63;
    }
}

.cu-header{
    padding: 100px 0px;
    .cu-title{
        font-size: 40px;
        color: #007993;
        margin-bottom: 40px;
    }
    .cu-desc{
        .cu-desc-header{
            font-size: 25px;
        }
        .cu-desc-sum{
            color: #443c33;
        }
    }
}

.cu-content{
    padding-bottom: 100px;
}


.form-row{
    display: flex;
    padding: 20px 0px;
}

.form-group{
    width: 45%;
    textarea{
        width: 95%;
        height: 100px;
        border: 1px solid #cfcfcf;
    }
    input{
        width: 90%;
    }
}

@media screen and (max-width:992px) {
    .form-row{
        display: block;
        input{
            width: 100%;
        }
        
    }
    .form-group{
        margin: 0!important;
        textarea{
            width: 100%;
        }
        input{
            width: 100%;
        }
    }
}

.info{
    p{
        padding: 30px 0px;
        padding-bottom: 5px;
        margin: 0;
    }
    .bold{
        font-weight: bold;
    }
}

//footer css

footer{
    background-color: black;
}

.licenses{
    padding: 15px;
    display: flex;
    p{
        color: white;
        text-align: end;
        width: 90%;
        margin: 0;
    }
}