
@{
    ViewData["Title"] = "Index";
}

 <!--Main start-->
    <main>
        <!--Welcome section start-->
        <section id="welcome">
            <div class="welcome-text d-flex justify-content-center align-items-center">
                <div class="welcome-wrapper">
                    <h1>GET PAGE DONE</h1>
                    <h3>It take efforts</h3>
                    <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
                    <div class="main-button d-flex justify-content-center">
                        <a href="#">DOWNLOAD THIS THEME NOW!</a>
                    </div>

                </div>
            </div>
        </section>
        <!--Welcome section end-->

        <!--Our services start-->
        <section id="our-services">
            <div class="container">
                <div class="ou-header">
                    <h2 class="os-title">OUR SERVICES :</h2>
                    <div class="ou-desc">
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <p class="ou-desc-title">
                                    Lorem ipsum dolor sit amet
                                </p>
                                <p class="ou-desc-sum">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                                    Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                </p>
                            </div>
                            <div class="col-12 col-xl-6">
                                <p class="ou-desc-title">
                                    Lorem ipsum dolor sit amet
                                </p>
                                <p class="ou-desc-sum">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                                    Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ou-cards">
                    <div class="row">
                        <div class="ou-card-item col-12 col-lg-4">
                            <div class="ou-card-item-wrapper">
                                <div class="ou-card-icon">
                                    <i class="fa-solid fa-desktop"></i>
                                </div>
                                <p class="ou-card-title">Sure Quique Menu</p>
                                <p class="ou-card-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                                    Mauris vehicula at nunc id posuere
                                </p>
                                <p class="ou-card-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="ou-card-item col-12 col-lg-4">
                            <div class="ou-card-item-wrapper">
                                <div class="ou-card-icon">
                                    <i class="fa-solid fa-flask"></i>
                                </div>
                                <p class="ou-card-title">100% Free Responsive</p>
                                <p class="ou-card-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                                    Mauris vehicula at nunc id posuere
                                </p>
                                <p class="ou-card-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="ou-card-item col-12 col-lg-4">
                            <div class="ou-card-item-wrapper">
                                <div class="ou-card-icon">
                                    <i class="fa-solid fa-credit-card"></i>
                                </div>
                                <p class="ou-card-title">Clean & Customizable</p>
                                <p class="ou-card-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                                    Mauris vehicula at nunc id posuere
                                </p>
                                <p class="ou-card-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ou-summary">
                    <p class="ou-summary-title">Lorem ipsum dolor sit amet</p>
                    <p class="ou-summary-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                        vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                        nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id
                        posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                        Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>
        </section>
        <!--Our services start-->

        <!--Featured start-->
        <section id="featured">
            <div class="container">
                <div class="row">
                    <div class="feat-ws col-12 col-lg-8">
                        <p class="feat-title">Featured In Wall Street</p>
                        <P class="feat-desc">and many other magzines..</P>
                    </div>
                    <div class="feat-ws col-12 col-lg-4">
                        <p class="feat-title">300+</p>
                        <P class="feat-desc">Reports</P>
                    </div>
                </div>
            </div>
        </section>
        <!--Featured end-->

        <!--Our Plans start-->
        <section id="our-plans">
            <div class="container">
                <div class="op-header">
                    <p class="op-title">OUR PLANS :</p>
                    <div class="row">
                        <div class="op-desc col-12 col-xl-6">
                            <p class="op-desc-header">Lorem ipsum dolor sit amet</p>
                            <p class="op-desc-sum">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                                vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                            </p>
                        </div>
                        <div class="op-desc col-12 col-xl-6">
                            <p class="op-desc-header">Lorem ipsum dolor sit amet</p>
                            <p class="op-desc-sum">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                                vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="op-cards">
                    <div class="row">
                        <div class="op-card-item col-12 col-lg-4">
                            <div class="op-card-wrapper">
                                <div class="op-card-title">
                                    <p>BASIC PLAN</p>
                                </div>
                                <div class="op-card-content">
                                    <p>12 Accounts</p>
                                    <p>52 Emails</p>
                                    <p>50 GB Space</p>
                                    <p>Free Support</p>
                                    <p class="op-price">$99 only</p>
                                    <div class="op-read-more">
                                        <a href="#" class="">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="op-card-item col-12 col-lg-4">
                            <div class="op-card-wrapper">
                                <div class="op-card-title">
                                    <p>BASIC PLAN</p>
                                </div>
                                <div class="op-card-content">
                                    <p>12 Accounts</p>
                                    <p>52 Emails</p>
                                    <p>50 GB Space</p>
                                    <p>Free Support</p>
                                    <p class="op-price">$199 only</p>
                                    <div class="op-read-more">
                                        <a href="#" class="">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="op-card-item col-12 col-lg-4">
                            <div class="op-card-wrapper">
                                <div class="op-card-title">
                                    <p>BASIC PLAN</p>
                                </div>
                                <div class="op-card-content">
                                    <p>12 Accounts</p>
                                    <p>52 Emails</p>
                                    <p>50 GB Space</p>
                                    <p>Free Support</p>
                                    <p class="op-price">$299 only</p>
                                    <div class="op-read-more">
                                        <a href="#" class="">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Our Plans end-->

        <!--Stats start-->
        <section id="stats">
            <div class="container">
                <div class="row">
                    <div class="stats-ws col-12 col-lg-3">
                        <p class="stats-title">5000+</p>
                        <P class="stats-desc">Projects</P>
                    </div>
                    <div class="stats-ws col-12 col-lg-3">
                        <p class="stats-title">205+</p>
                        <P class="stats-desc">Countries</P>
                    </div>
                    <div class="stats-ws col-12 col-lg-3">
                        <p class="stats-title">1300+</p>
                        <P class="stats-desc">Offices</P>
                    </div>
                    <div class="stats-ws col-12 col-lg-3">
                        <p class="stats-title">2400+</p>
                        <P class="stats-desc">Clients</P>
                    </div>
                </div>
            </div>
        </section>
        <!--Stats end-->

        <!--Contact us start-->
        <section id="contact-us">
            <div class="container">
                <div class="cu-header">
                    <p class="cu-header-title">CONTACT US :</p>
                    <div class="row">
                        <div class="cu-desc col-12 col-xl-6">
                            <p class="cu-desc-header">Lorem ipsum dolor sit amet</p>
                            <p class="cu-desc-sum">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                                vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                            </p>
                        </div>
                        <div class="cu-desc col-12 col-xl-6">
                            <p class="cu-desc-header">Lorem ipsum dolor sit amet</p>
                            <p class="cu-desc-sum">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris
                                vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cu-content">
                    <div class="row">
                        <div class="cu-form col-12 col-xl-6">
                            <form method="post">
                                <div class="form-row">
                                  <div class="form-group col-xl-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                  </div>
                                  <div class="form-group col-xl-6">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputAddress" class="d-block">Message</label>
                                  <textarea></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit Request</button>
                              </form>
                        </div>
                        <div class="info col-12 col-xl-6">
                            <p>
                                <span class="bold">Address: </span>123,Your locality , Counrty Name, Pin-20100090.
                            </p>
                            <p>
                                <span class="bold">Email: </span>info@yourdomain.com
                            </p>
                            <p>
                                <span class="bold">Web: </span>www.yourdomain.com
                            </p>
                            <p>
                                <span class="bold">Mobile: </span>+00-909-808-707-00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact us end-->
    </main>
    <!--Main end-->

